.advantages {
    background-color: #ffffff;
    margin-top: -25px;
}

.advantages__intro {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: normal;
    color: #283645;
}

.advantages__list {
    background-color: #f2f2f2;
    list-style: none;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
}

.advantages__title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.advantages__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #283645;
}
