.advantages {
  background-color: #ffffff;
  margin-top: -25px;
}

.advantages__intro {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: normal;
  color: #283645;
}

.advantages__list {
  background-color: #f2f2f2;
  list-style: none;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  /*box-shadow: inset 0 0 0 6px rgb(252, 5, 17);*/
  display: flex;
  flex-direction: column;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #283645;
}

.advantages__img-desktop {
  display: none;
}

.advantages__img-tablet {
  display: none;
}


@media (min-width: $tablet-width) {
  .advantages__img-mobile {
    display: none;
  }

  .advantages__img-desktop {
    display: none;
  }

  .advantages__img-tablet {
    display: block;
  }

  .advantages__tablet-wrapper {
    display: flex;
  }

  .advantages__list {
    text-align: left;
  }
}


@media (min-width: $desktop-width) {
  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
  }

  .advantages__img {
    order: -1;
  }

  .advantages__img-desktop {
    display: block;
  }

  .advantages__img-mobile {
    display: none;
  }

  .advantages__img-tablet {
    display: none;
  }

  .advantages__list {
    text-align: center;
  }

  .advantages__title {
    font-size: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 1.67;
  }
}
