.app-download {
  background-color: #283645;
  color: #ffffff;
}

.app-download__button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.app-download__os {
  list-style: none;
}

.app-download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}
