.contacts__introduction {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  line-height: normal;
  text-align: center;
  padding-right: 45px;
  padding-left: 45px;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  line-height: normal;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: #d22856;
}

.contacts__email:hover {
  color: #283645;
  border-bottom: 2px solid;
}

.contacts__email:active {
  color: rgba(40, 54, 69, 0.3);
  border-bottom: none;
}

.contacts__value {

  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  line-height: normal;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin: 0;
}

.contacts__google-map {
  border: none;
  position: relative;
}

.contacts__map-picture {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .contacts__google-map {
    width: 660px;
    height: 848px;
  }

  .contacts__map-picture {
    width: 660px;
    height: 848px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__google-map {
    width: 1200px;
    height: 976px;
  }

  .contacts__map-picture {
    width: 1200px;
    height: 976px;
  }
}
