.effect {
  display: none;
}


@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    ;
  }

  .effect__text {
    order: 1;
  }

  .effect-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000
  }

  .effect__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    color: #283645;
  }

  .effect__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    color: #d22856;
  }
}


@media (min-width: $desktop-width) {
  .effect {
    display: flex;
  }

  .effect__text {
    order: 1;
  }

  .effect-title {
    font-size: 30px;
    font-weight: 700;
    color: #000000
  }

  .effect__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: #283645;
  }

  .effect__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: #d22856;
  }
}
