.feedback__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
  color: #000000;
}

.feedback__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  color: #283645;
  padding-left: 22px;
  padding-right: 22px;
}

.feedback__toggle {
  text-align: center;
}
