.site-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  flex-grow: 1;
}

.site-list__item {
  /*box-shadow: inset 0 0 0 10px rgb(102, 9, 252);*/
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 20px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  //*box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);*//
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: $desktop-width) {
  .site-list__item {
    text-transform: none;
    font-weight: 400;
    justify-content: space-between;
  }

  .site-list {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__wrapper {
    display: flex;
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
    width: 100%;
    justify-content: flex-start;
  }

  .main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
}
