.page-header {
    background-color: #283645;
}

.site-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}

.site-list__item {
    display: flex;
    justify-content: center;
    margin-bottom: -0px;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    min-height: 63px;
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}
