.page-header {
  background-color: #283645;
}

.site-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.site-list__item {
  display: flex;
  justify-content: center;
  margin-bottom: -0;
  padding-top: 24px;
  padding-bottom: 20px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  //*box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);*//
  box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}
