.page-header {
  background-color: #283645;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo-wrapper {
    min-width: 320px;
  }
}
