.page-main__title {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  padding-right: 20px;
  padding-left: 20px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  margin-top: 90px;
}

.page-main__image {
  display: flex;
  //padding: 0;
  //box-shadow: inset 0 0 0 1px rgb(100, 5, 252);
}

.page-main__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 462px;
  //min-height: 237px;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  //background-position: 0 -70px;
  //box-shadow: inset 0 0 0 10px rgb(30, 5, 252);
  margin-top: -70px;
}

@media (min-width: $tablet-width) {
  .page-main__index {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: row;
    //box-shadow: inset 0 0 0 10px rgb(231, 231, 235);
    margin-top: -120px;
    padding-top: 120px;
    min-height: 729px;
  }

  .page-main__image {
    width: 660px;
    height: 545px;
    //box-shadow: inset 0 0 0 5px rgb(30, 5, 252);
    //position: absolute;
    //object-fit: contain;
  }

  .page-main__photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-main__contest {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-main__title {
    font-size: 50px;
    font-weight: 300;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .page-main__index {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    /*flex-direction: row;*/
    justify-content: space-around;
  }

  .page-main__photo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-main__contest {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-main__title {
    font-size: 50px;
    font-weight: 300;
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-main__title--wrapper {
    width: 50%;
  }
}
