.page-footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 284px;
  justify-content: space-around;
}

.social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  min-width: 172px;
  //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
}

.social__link {
  fill: #d22856;
  border: solid 3px #fefefe;
  //rgb(40, 54, 69, 0.1);
  border-radius: 23px;
}

.social__link:hover {
  border: solid 3px #283645;
}

.social__link:active {
  border: solid 3px #fefefe;
}

.social__link:active path {
  fill: rgba(210, 40, 86, 0.3);
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #283645;
}

.copyright__link {
  fill: #d4345f;
}

.copyright__link:hover path {
  fill: #283645;
}

.copyright__link:active path {
  fill: rgba(40, 54, 69, 0.3);
}


.page-footer__index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: flex;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 127px;
  }

  .social__list {
    justify-content: space-between;
    min-width: 172px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-height: 197px;
  }

  .copyright__text {
    font-size: 18px;
  }
}
