.page-footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  list-style: none;
  display: flex;
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #283645;
}

.page-footer__index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: flex;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {}
