.tariffs__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.tariffs__item {
  min-width: 276px;
  //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
}

.tariffs__caption {
  //height: 94px;
  border: solid 2px #283645;
  background-color: #283645;
}

.tariffs__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  //padding-bottom: 12px;
}

.tariffs__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
}

.tariffs__options {
  list-style: none;
  padding: 0;
  margin: 0;
  //box-shadow: inset 0 0 0 6px rgb(96, 252, 5);

  //display: flex;
  //flex-direction: column;
}

.tariffs__options-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: left;
  color: #283645;
  padding-left: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: solid 2px #e5e5e5;
  //box-shadow: inset 0 0 0 6px rgb(5, 30, 252);
}

.tariffs__toggle {
  text-align: center;
}
