.users-photos {
  background-color: #ffffff;
  margin-top: -15px;
  margin-bottom: -15px;
}

.users-photos__intro {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 2.14;
  color: #283645;
  margin-top: -230px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}


.users-photos__info-panorama--wrapper {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.users-photos__info--wrapper {
  //display: block;
  //margin: 0 auto;
  //margin-top: 0;
  //width: 100%;
  //box-shadow: inset 0 0 0 4px rgb(252, 5, 219);
}

.users-photos__author-name--wrapper {
  display: flex;
  align-content: center;
  align-items: center;
}

.users-photos__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.users-photos__item-image {
  //text-align: center;
  display: block;
  margin: 0 auto;
  // box-shadow: inset 0 0 0 40px rgb(252, 5, 219);
}

.users-photos__item {
  //background-color: #f2f2f2;
  //margin-left: 20px;
  //padding-left: 17px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  //margin: 0 auto;
  //display: block;
  // width: 100%;
  //box-sizing: border-box;
}

.users-photos__panorama {
  margin-left: 20px;
  padding-left: 17px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.users-photos__author-name {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #283645;
  padding-right: 2px;
}

.users-photos__post-time {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  color: #283645;
}

.users-photos__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.71;
  color: #283645;
}

.users-photos__likes {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 20px;
}

.users-photos__likes-image {
  fill: #d22856;
}

.users-photos__likes--wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .users-photos__intro {
    font-size: 18px;
    line-height: 1.67;
  }

  .users-photos__list {
    display: flex;
    flex-wrap: wrap;
  }
}
