.users-photos {
    background-color: #ffffff;
    margin-top: -15px;
    margin-bottom: -15px;
}

.users-photos__intro {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 2.14;
    color: #283645;
}

.users-photos__list {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.users-photos__item-image {
    text-align: center;
}

.users-photos__item {
    margin-left: 20px;
    padding-left: 17px;
}

.users-photos__author-name {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color: #283645;
}

.users-photos__post-time {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    color: #283645;
}

.users-photos__text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.71;
    color: #283645;
}

.users-photos__likes {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #d22856;
}
