@import "font-face.scss";
@import "visually-hidden.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/app-download.scss";
@import "blocks/advantages.scss";
@import "blocks/users-photos.scss";
@import "blocks/page-footer";
body {
    width: 320px;
    background: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
